*{
  box-sizing: border-box;
}

.itext{
  --border-hue: 0;
  --border-saturation: 0%;
  --border-lightness: 70%;
  padding: .35em .5em;
  border: 1px solid hsl(
    var(--border-hue),
    var(--border-saturation),
    var(--border-lightness)
  );
  border-radius: 3px;
  outline: none;
  margin: .5em;
  font-size: inherit;
}

.itext:focus{
  --border-hue: 209;
  --border-saturation: 50%;
  --border-lightness-focus: calc(var(--border-lightness) + 10%);
  box-shadow: 0 0 .5rem 0 hsl(
    var(--border-hue),
    var(--border-saturation),
    var(--border-lightness-focus)
  );
}

.itext.itext-success{
  --border-hue: 120;
  --border-saturation: 80%;
  --border-lightness: 40%;
}

.itext.itext-error{
  --border-hue: 0;
  --border-saturation: 70%;
  --border-lightness: 60%;
}

.itext.itext-large{
  font-size: 1.2rem;
}

.itext.itext-small{
  font-size: .7rem;
}

.itext.itext-disabled{
  background-color: hsl(0, 0%, 85%);
}