* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --bg-black-color: hsl(0, 0%, 15%);
  --bg-white-color: #F9F6EE;
  --btn-black-color: hsl(0, 0%, 10%);
  --text-white-color: hsl(0, 0%, 85%);
  --anchor-color: #535bf2;
  --hero-heading-color: #00056ca4;
}

.container{
  padding: .8rem 15vw;
}

.black-bg{
  background-color: var(--bg-black-color);
}

.white-bg{
  background-color: var(--bg-white-color);
}

.white-txt{
  color: var(--text-white-color);
}

.font-size{
  font-size: .8rem;
}

.flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.flex-just-sb{
  justify-content: space-between;
}

.just-cent{
  justify-content: center;
}

.flex-align-c{
  align-items: center;
}

.flex-gap-1{
  gap: 1rem;
}

.place-it{
  place-items: center;
}

.txt-deco-none{
  text-decoration: none;
}

.capitalize{
  text-transform: capitalize;
}

.uppercase{
  text-transform: uppercase;
}

.section-para{
  color: hsl(0, 0%, 95%);
  line-height: 1.3rem;
  letter-spacing: 1px;
  font-size: .85rem;
}

.grid{
  display: grid;
}

.grid-col-2{
  grid-template-columns: repeat(2, 1fr);
}

.grid-col-3{
  grid-template-columns: repeat(3, 1fr);
}

.grid-col-4{
  grid-template-columns: repeat(4, 1fr);
}

.relative{
  position: relative;
}

.absolute{
  position: absolute;
}

/* CUSTOM ELEMENT PROPERTIES */

body{
  font-family: "Urbanist", sans-serif;
  background-color: var(--bg-white-color)
}

/* Header Top Starts */

.login-btn{
  text-decoration: none;
  color: var(--anchor-color);
}

/* Header Top Ends */


/* Navbar Starts */

.navbar{
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.brand-logo img{
  width: 10rem;
  height: auto;
}

.nav-list{
  list-style: none;
}

.nav-link a{
  text-decoration: none;
  color: var(--bg-black-color);
  text-transform: uppercase;
}

.nav-link{
  position: relative;
  transition: color .3s;
}

.nav-link *:hover:not(.cart-btn){
  color: var(--anchor-color);
}

.nav-link:not(:last-child):before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid var(--anchor-color);
  transition: padding .3s;
}

.nav-link:not(:last-child):hover::before{
  padding-right: 100%;
}

.cart-btn, .btn{
  background-color: var(--btn-black-color);
  color: var(--bg-white-color);
  padding: .6rem 1.2rem;
  border-radius: .3rem;
  border: 2px solid var(--btn-black-color);
  transition: all .3s;
}

.cart-btn:hover, .btn:hover{
  background-color: var(--bg-white-color);
  color: var(--btn-black-color);
}

/* Navbar Ends */

/* Hero Section Starts */

.section-hero{
  background-image: linear-gradient(45deg, var(--anchor-color), var(--bg-white-color));
  position: relative;
}

.hero-content{
  gap: 2.2rem;
  height: 40rem;
}

.hero-txt{
  gap: 1.5rem;
}

.hero-heading p, .hero-heading h1{
  color: var(--hero-heading-color);
}

.hero-heading p{
  font-size: .8rem;
  font-weight: 550;
}

.hero-heading h1{
  font-size: 2.7rem;
}

.hero-img img{
  width: 33rem;
  transform: scaleX(-1);
}

.hero-btn a:hover{
  background-color: var(--anchor-color);
  color: var(--text-white-color);
}

.custom-shape-divider-bottom-1737865781 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1737865781 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 120px;
}

.custom-shape-divider-bottom-1737865781 .shape-fill {
  fill: var(--bg-white-color);
}

/* Hero Section Ends */

/* Policy and Offer Section Starts */

.ad-content{
  padding: 1.2rem .8rem;
  background-color: #FAF9F6;
}

.ad-content::after{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0rem;
  border: 3.3rem solid #D3D3D3;
  border-radius: 100% 0 0 0%;
  height: 0rem;
  z-index: 0;
}

.ad-top-txt{
  font-size: .6rem;
  font-weight: 550;
  color: hsl(0, 0%, 50%);
}

.ad-heading{
  font-size: 1.1rem;
  color: hsl(0, 0%, 30%);
  margin: .2rem 0 .5rem;
}

.ad-btn{
  font-size: .8rem;
  text-underline-offset: .2rem;
}

.ad-img{
  z-index: 10;
}

.ad-img img{
  width: 9rem;
  /* z-index: 10; */
}

.ad-content:nth-child(1) .ad-img img{
  width: 10rem;
  transform: translateY(.5rem);
}

.ad-content:nth-child(2) .ad-img img{
  width: 8rem;
  transform: translateX(1.3rem);
}

.ad-content:nth-child(3) .ad-img img{
  width: 8rem;
  transform: rotate(5deg) translateX(1.3rem);
}

/* Policy Starts */

.policy{
  margin: 0rem 0 2rem 0;
}

.policy-box{
  gap: 1.2rem;
  padding: 2rem 1rem;
  background-color: #FAF9F6;
}

.policy-img i{
  font-size: 1.4rem;
  color: var(--anchor-color);
}

.policy-heading{
  font-weight: 500;
  font-size: .8rem;
  color: var(--bg-black-color);
  letter-spacing: .3px;
}

.policy-para{
  font-size: .6rem;
  color: hsl(0, 0%, 50%);
  margin-top: .2rem;
  letter-spacing: .5px;
}

/* Policy Ends */

/* Policy and Offer Section Ends */

/* Store Items Starts */
/* Store Items Ends */

/* Choose Section Starts */

.section-choose-content{
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
    "box1 img box4"
    "box2 img box5"
    "box3 img box6";
  row-gap: 1rem;
  column-gap: 2rem;
}

.section-head-content{
  margin-bottom: 4rem;
}

.choose-para{
  font-size: .9rem;
  color: hsl(0, 0%, 40%);
  margin-top: .3rem;
}

.content-box:nth-child(1){
  grid-area: box1;
  text-align: right;
  justify-items: end;
}
.content-box:nth-child(2){
  grid-area: box2;
  text-align: right;
  justify-items: end;
}
.content-box:nth-child(3){
  grid-area: box3;
  text-align: right;
  justify-items: end;
}
.content-box:nth-child(5){
  grid-area: box4;
  text-align: left;
  justify-items: start;
}
.content-box:nth-child(6){
  grid-area: box5;
  text-align: left;
  justify-items: start;
}
.content-box:nth-child(7){
  grid-area: box6;
  text-align: left;
  justify-items: start;
}

.box-num{
  color: #868bee;
  padding: .8rem 1.2rem;
  font-size: 1.5rem;
  position: relative;
  background-color: #e4e4ee;
  border-radius: 50%;
}

/* .box-num::before{
  content: '';
  position: absolute;
  width: 2rem;
  aspect-ratio: 1;
} */

.content-img{
  grid-area: img;
  align-self: center;
  justify-self: center;
  position: relative;
}

.img-box img{
  width: 15rem;
  /* z-index: 10; */
}

.img-circle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 19rem;
  aspect-ratio: 1;
  background-color: #e5e5ee;
  border-radius: 50%;
  z-index: -1;
  animation: blink 4s ease-in-out alternate infinite;
}

@keyframes blink{
  to{
    background-color: #9297f3;
  }
}

.box-heading{
  margin: .5rem 0 .8rem 0;
  color: hsl(0, 0%, 30%);
}

.box-para{
  font-size: .85rem;
  color: hsl(0, 0%, 30%);
}

/* Choose Section Ends */

/* Footer Starts */

.section-footer{
  padding: 4rem 0 3rem;
  background-color: var(--bg-black-color);
}
.section-footer *{
  background-color: var(--bg-black-color);
  color: hsl(0, 0%, 60%);
}

.footer-container{
  grid-template-columns: 2fr repeat(3, 1fr);
}

.brand-footer img{
  width: 8rem;
}

.footer-para{
  font-size: .7rem;
  letter-spacing: .3px;
  padding: .9rem 0;
}

.links-heading{
  font-size: .9rem;
}

.footer-container div:nth-child(2){
  display: flex;
  flex-direction: column;
  gap: .9rem;

  & a{
    font-size: .8rem;
    text-decoration: none;
  }

  & h4{
    padding-bottom: .4rem;
  }
}

.footer-container div:nth-child(3){
  display: flex;
  flex-direction: column;
  gap: .9rem;

  & a{
    font-size: .8rem;
    text-decoration: none;
  }

  & h4{
    padding-bottom: .4rem;
  }
}

.footer-container div:nth-child(4){
  display: flex;
  flex-direction: column;
  gap: .9rem;

  & p{
    font-size: .8rem;
    text-decoration: none;
  }

  & h4{
    padding-bottom: .4rem;
  }

  /* & .input-newsletter{
    flex-direction: row;
  } */

  & input{
    /* align-self: flex-start; */
    padding: .4rem .2rem;
    outline: none;
    background-color: hsl(0, 0%, 12%);
    width: 100%;
    font-size: .9rem;
    &:focus{
      background-color: hsl(0, 0%, 9%);
      
    }
  }
  
  & button{
    align-self: end;
    padding: .4rem .2rem;
    border-radius: .2rem;
    
    &:hover{
      background-color: hsl(0, 0%, 9%);
    }
  }
}
/* Footer Ends */

/* Contact Us Page Starts */

.section-contact>div>.section-txt{
  padding: 2rem 0;
}

.section-content{
  display: grid;
  grid-template-columns: 4fr 1fr;
  column-gap: 2rem;
  align-items: center;
  padding-bottom: 2.5rem;
}

.input-form{
  display: flex;
  flex-direction: column;
}

.input-form label{
  /* margin-top: .2rem; */
  margin-bottom: .2rem;
}

#msg-area{
  resize: none;
  height: 12rem;
  padding: .3rem;
  font-size: 1rem;
  margin-bottom: 1.3rem;
}

.input-form input{
  padding: .3rem .3rem;
  font-size: 1.1rem;
  margin-bottom: 1.2rem;
}

.form-btn{
  text-decoration: none;
  font-size: .8rem;
}


/* Contact Us Page Ends */