* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --bg-black-color: hsl(0, 0%, 15%);
  --bg-white-color: #f7f7f7;
  --btn-black-color: hsl(0, 0%, 10%);
  --text-white-color: hsl(0, 0%, 85%);
  --anchor-color: #535bf2;
}

.container{
  padding: .8rem 17vw;
}

.black-bg{
  background-color: var(--bg-black-color);
}

.white-bg{
  background-color: var(--bg-white-color);
}

.white-txt{
  color: var(--text-white-color);
}

.font-size{
  font-size: .8rem;
}

.flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.flex-just-sb{
  justify-content: space-between;
}

.flex-just-c{
  justify-content: center;
}

.flex-align-c{
  align-items: center;
}

.flex-gap-1{
  gap: 1rem;
}

.txt-deco-none{
  text-decoration: none;
}


/* CUSTOM ELEMENT PROPERTIES */

body{
  font-family: "Urbanist", sans-serif;
}

/* Header Top Starts */

.login-btn{
  text-decoration: none;
  color: var(--anchor-color);
}

/* Header Top Ends */


/* Navbar Starts */

.navbar{
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.brand-logo img{
  width: 10rem;
  height: auto;
}

.nav-list{
  list-style: none;
}

.nav-link a{
  text-decoration: none;
  color: var(--bg-black-color);
  text-transform: uppercase;
}

.nav-link{
  position: relative;
  transition: color .3s;
}

.nav-link *:hover:not(.cart-btn){
  color: var(--anchor-color);
}

.nav-link:not(:last-child):before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid var(--anchor-color);
  transition: padding .3s;
}

.nav-link:not(:last-child):hover::before{
  padding-right: 100%;
}

.cart-btn{
  background-color: var(--btn-black-color);
  color: var(--bg-white-color);
  padding: .6rem 1.2rem;
  border-radius: .3rem;
  border: 2px solid var(--btn-black-color);
  transition: all .3s;
}

.cart-btn:hover{
  background-color: var(--bg-white-color);
  color: var(--btn-black-color);
}

/* Navbar Ends */