* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --bg-black-color: hsl(0, 0%, 15%);
  --bg-white-color: #f7f7f7;
  --btn-black-color: hsl(0, 0%, 10%);
  --text-white-color: hsl(0, 0%, 85%);
  --anchor-color: #535bf2;
  --hero-heading-color: #00056ca4;
}

.container{
  padding: .8rem 15vw;
}

.black-bg{
  background-color: var(--bg-black-color);
}

.white-bg{
  background-color: var(--bg-white-color);
}

.white-txt{
  color: var(--text-white-color);
}

.font-size{
  font-size: .8rem;
}

.flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.flex-just-sb{
  justify-content: space-between;
}

.flex-just-c{
  justify-content: center;
}

.flex-align-c{
  align-items: center;
}

.flex-gap-1{
  gap: 1rem;
}

.place-it{
  place-items: center;
}

.txt-deco-none{
  text-decoration: none;
}

.capitalize{
  text-transform: capitalize;
}

.uppercase{
  text-transform: uppercase;
}


.section-para{
  color: hsl(0, 0%, 95%);
  line-height: 1.3rem;
  letter-spacing: 1px;
  font-size: .85rem;
}


/* CUSTOM ELEMENT PROPERTIES */

body{
  font-family: "Urbanist", sans-serif;
}

/* Header Top Starts */

.login-btn{
  text-decoration: none;
  color: var(--anchor-color);
}

/* Header Top Ends */


/* Navbar Starts */

.navbar{
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.brand-logo img{
  width: 10rem;
  height: auto;
}

.nav-list{
  list-style: none;
}

.nav-link a{
  text-decoration: none;
  color: var(--bg-black-color);
  text-transform: uppercase;
}

.nav-link{
  position: relative;
  transition: color .3s;
}

.nav-link *:hover:not(.cart-btn){
  color: var(--anchor-color);
}

.nav-link:not(:last-child):before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid var(--anchor-color);
  transition: padding .3s;
}

.nav-link:not(:last-child):hover::before{
  padding-right: 100%;
}

.cart-btn, .btn{
  background-color: var(--btn-black-color);
  color: var(--bg-white-color);
  padding: .6rem 1.2rem;
  border-radius: .3rem;
  border: 2px solid var(--btn-black-color);
  transition: all .3s;
}

.cart-btn:hover, .btn:hover{
  background-color: var(--bg-white-color);
  color: var(--btn-black-color);
}

/* Navbar Ends */

/* Hero Section Starts */

.section-hero{
  background-image: linear-gradient(45deg, var(--anchor-color), var(--bg-white-color));
  position: relative;
}

.hero-content{
  gap: 2.2rem;
  height: 40rem;
}

.hero-txt{
  gap: 1.5rem;
}

.hero-heading p, .hero-heading h1{
  color: var(--hero-heading-color);
}

.hero-heading p{
  font-size: .8rem;
  font-weight: 550;
}

.hero-heading h1{
  font-size: 2.7rem;
}

.hero-img img{
  width: 33rem;
  transform: scaleX(-1);
}

.hero-btn a:hover{
  background-color: var(--anchor-color);
  color: var(--text-white-color);
}

.custom-shape-divider-bottom-1737865781 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1737865781 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 120px;
}

.custom-shape-divider-bottom-1737865781 .shape-fill {
  fill: #FFFFFF;
}


/* Hero Section Enss */

