*{
  box-sizing: border-box;
}

body{
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  perspective: 500px;
}

.box{
  width: 100px;
  height: 100px;
  transform: rotateX(45deg);
}

.red{
  background-color: red;
  color: white;
}