body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.display-list div{
    display: flex;
    justify-content: space-between;
    
}

