/* base rule  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px  */
  /* scroll-behavior: smooth; */
  /* scroll-snap-type: Y proximity; */
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

p,
li,
a,
label {
  font-family: "Urbanist", sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  color: var(--para-color);
  line-height: 1.5;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  text-transform: uppercase;
}

/* theme */

:root {
  --main-color: #0062ff;
  --supporting-color: #ebf3fe;
  --font-color: #424242;
  /* --bg-color: #ffffff; */
  --bg-color: #f7fcff;
  --heading-color: #000a19;
  --hero-heading-color: #003b99;
  --white-color: #ffffff;
  --para-color: #504e4d;
  --bnt-hover-bg-color: #003b99;
  --btn-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --footer-bg-color: #040d12;
}

/* layout */

/* module / reusable  */

/* states  */

.btn{
  background-color: var(--main-color);
  color: var(--white-color);
  padding: 1.1rem 2rem;
  border-radius: .4rem;
  letter-spacing: .1rem;
  border: none;
  box-shadow: var(--btn-box-shadow) 0px 5px 15px 0px;

  &:hover {
    cursor: pointer;
    background-color: var(--bnt-hover-bg-color);
  }
}

.flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.flex-center{
  justify-content: center;
  align-items: start;
}

.flex-center-center{
  justify-content: center;
  align-items: center;
}

.flex-gap-1{
  gap: .3rem;
}

.flex-gap-2{
  gap: 1.8rem;
}

.flex-align-end{
  align-items: end;
}

.grid{
  display: grid;
  padding: 10rem 0 0 0;
}

.grid-two{
  grid-template-columns: 1fr 1fr;
  column-gap: 1%;
}

.grid-four{
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1%;
  row-gap: 7rem;
}

.grid-two-nogap{
  column-gap: 0;
}

.grid-flow--col{
  grid-auto-flow: column;
}

.grid-row--three{
  grid-template-rows: repeat(3, 1fr);
}

.grid-col--three{
  grid-template-columns: repeat(3, 1fr);
}

.card-choose{
  padding: 2rem 4rem;
}

.section-heading{
  font-size: 3rem;
}

.section-para{
  /* line-height: 2; */
  /* letter-spacing: .1rem; */
  font-size: 1.5rem;
  font-weight: 200;
}

.card-center{
  text-align: center;
}

.card{
  padding: 3rem;
}

.card-img{
  width: 7rem;
  border-radius: 50%;
  padding: 1.9rem;
  background-color: lightblue;
}

.card-figcap{
  font-size: 2rem;
  font-weight: 700;
  text-transform: capitalize;
  padding: 2rem 0;
}

.colored-num{
  font-size: 3rem;
  padding: 1rem 1.7rem;
  color: var(--main-color);
  background-color: #bad1f6;
  border-radius: 50%;
  display: inline-block;
}

.card-heading{
  font-size: 2rem;
  font-weight: 700;
  padding: 2rem 0;
}

.card-para{
  font-size: 1.5rem;
  font-weight: 100;
}

.grid-item--ralign{
  text-align: right;
}

/* .btn:hover {
  background-color: var(--bnt-hover-bg-color);
  cursor: pointer;
  box-shadow: var(--btn-box-shadow);
} */

/***** navbar Section *****/
section,
.container{
  padding: 9.6rem 9% 0 9%;
}

header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  }

.nav-links{
  display: flex;
  gap: 3rem;

  & li a{
    font-weight: 600;
    display: inline-block;
    position: relative;
    
    &::after{
      content: "";
      display: inline-block;
      position: absolute;
      bottom: 0;
      left: 0;
      border-bottom: 2px solid var(--main-color);
    }

    &:hover{
      animation: nav-links-color .3s ease-in forwards;
      &::after{
        animation: nav-links-underline .3s ease-in forwards;
      }
    }
  }
}

@keyframes nav-links-color{
  100%{
    color: var(--main-color);
  }
}

@keyframes nav-links-underline{
  100%{
    padding: 0 50%;
  }
}

/* HERO SECTION */
main{
  position: relative;
}
.hero-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10%;
  padding: 9.6rem 15%;
  background-image: linear-gradient(to top right, blue, white);
  & .hero-text{
    display: flex;
    flex-direction: column;
    gap: 2rem;

    & .hero-heading{
      position: relative;
      font-size: 5rem;
      line-height: 1.5;
      color: var(--hero-heading-color);
  
      &::before{
        content: "empowering lifelong learning";
        position: absolute;
        top: -12%;
        left: 0;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 800;
        letter-spacing: .2rem;
        word-spacing: .2rem;
      }
    }

    & .hero-para{
      color: var(--white-color);
      line-height: 2;
      letter-spacing: .1rem;
    }

    & .hero-btn{
      align-self: start;
    }
  }

  & .hero-img-container .hero-img{
    width: 140%;
    transform: scaleX(-1) translateY(-5rem) translateX(5rem);
  }
}

/* Shape Divider */
.custom-shape-divider-bottom-1731860351 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1731860351 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 155px;
}

.custom-shape-divider-bottom-1731860351 .shape-fill {
  fill: #FFFFFF;
}

/* MAIN HERO SECTION END */

/* ABOUT SECTION STARTS */

.about-section{
  /* padding: 9.6rem 15%; */

  & .container .about-texts .about-heading{
    font-size: 3rem;
  }

  & .container .about-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10rem 0;
    column-gap: 10%;

    & .card{
      text-align: center;

      & figure{

        & img{
          width: 10rem;
          /* background-image: var(lightblue); */
          background-color: rgb(228, 248, 255);
          border-radius: 50%;
          padding: 1.5rem;
          transition: all .2s;

          &:hover{
            rotate: 360deg;
            background-color: var(--main-color);
          }
        }
  
        & figcaption{
          font-size: 2rem;
          font-weight: 700;
          text-transform: capitalize;
          padding: 2rem 0;
        }
      }
    }
  }
}

/* Course Section */

.course-section .container .section-cards .card:hover{
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px; transition: all .5s;
}


/* Choose Section */
.choose-section .container .section-choose-content{
  & .mobile-card-img{
    grid-row: 1 / 4;
    align-self: center;
    justify-self: center;
    text-align: center;
    position: relative;
    
    & .blue-circle{
      width: 95%;
      aspect-ratio: 1;
      background-color: var(--main-color);
      border-radius: 50%;
      /* margin: 0 auto; */
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(3%, 50%);
      box-shadow: var(--main-color) 0px 2px 4px 0px, var(--main-color) 0px 2px 16px 0px;

    }

    & img{
      width: 80%;
      position: relative;
      z-index: 2;
    }
  }
}

.card-section .container
{
  /* background-color: #003b99; */

  & .section-text{
    padding: .8rem 3rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, transparent 0 0 0 0, rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    background-color: white;
  }

  & .section-img
  {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px, rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      0 0 0 0;
    background-color: white;

    & picture img{
      width: 80%;
    }
  }
}

.card-section{
  transform: translate(0rem, 10rem);
  z-index: 2;
}

/* Footer Section */

.section-footer{
  background-color: black;
  padding: 9rem 0 5rem 0;
  & .container {
    & .brand-social .social-btns a{
      width: 4rem;
      aspect-ratio: 1;
      border-radius: 50%;
      background-color: white;
      & i{
        color: var(--main-color);
        font-size: 2.2rem;
      }
    }
    & .courses h3,
    & .links h3 {
      color: white;
      text-align: right;
      font-size: 1.5rem;
    }
  }
}

.footer-para{
  color: white;
}

.courses-links, .other-links{
  & a{
    color: white;
  }
}
