* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Montserrat, Cambria;
  color: #1B2522;
}

.full-screen-header {
  height: 100vh;
  background-image: url('img/header_image.jpg');
  background-size: cover;
  background-position-x: 40%;
  background-position-y: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  position: relative;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1B2522;
  padding: .5rem 1rem;
  z-index: 2;
}

.nav-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.logo {
  width: 50px;
}

.nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.nav-list a {
  text-decoration: none;
  margin-left: 2rem;
  color: white;
  transition-duration: .5s;
}

.nav-list a:hover {
  color: #CCC;
}

.title {
  font-size: 3rem;
  margin: 0;
}

.sub-title {
  font-size: 1.5rem;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

.btn {
  background-color: hsl(200, 100%, 50%);
  color: white;
  border-radius: 10000px;
  padding: .25em 1em;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: inherit;
  transition-duration: .5s;
}

.full-screen-header .btn:hover{
  transform: scale(1.1);
  transition: .2s;
  box-shadow: 0px 2px 5px 1px black;
}

.btn:hover,
.btn:focus {
  background-color: hsl(200, 100%, 40%);
}

.scroll-down-icon {
  position: absolute;
  bottom: 1rem;
  width: 30px;
  animation-name: up-down;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes up-down{
  from{
    transform: translateY(0);
  }
  to{
    transform: translateY(-10px);
  }
}

.section {
  padding: 2rem;
}

.section-title {
  margin: 0;
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
  color: black;
}

.curriculum-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 450px));
  justify-content: center;
  row-gap: 10px;
  column-gap: 50px;
}

.curriculum-grid-item {
  display: flex;
  align-items: center;
}

.curriculum-grid-item img {
  width: 50px;
  margin-right: 1rem;
}

.curriculum-grid-item:hover img {
  animation-name: jiggle;
  animation-duration: 200ms;
}

@keyframes jiggle{
  25%{
    transform: rotate(5deg);
  }
  75%{
    transform: rotate(-5deg);
  }

}

.section-accent {
  background-color: #0AF;
  align-items: center;
}

.price-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.price-section div ul{
  padding: 0em 1em;
}

.price-section div ul li{
  list-style: none;
}

.basic-price{
  margin-right: -5px;
}

.basic-price:hover{
  transform: scale(1.05) translateX(-.4em);
  transition: .2s;
}

.pro-price{
  margin-left: -5px;
}

.pro-price:hover{
  transform: scale(1.05) translateX(.4em);
  transition: .2s;
  /* transform: translateX(.2em); */
}

.preffered-price{
  padding-bottom: 2rem;
  z-index: 1;
}

.preffered-price:hover{
  transform: scale(1.05);
  transition: .2s;
}

.basic-price, .pro-price, .preffered-price{
  background-color: hsl(203, 100%, 97%);
  border: 1px solid black;
  border-radius: .3em;
  width: 13rem;
}

.price-section div ul li{
  padding: .2em 0;
}

.price-section div ul li:first-child{
  text-align: center;
  font-size: x-large;
}

.price-section div ul li:nth-child(2){
  text-align: center;
  font-size: large;
  padding: .5em 0 .8em 0;
}

.price-num{
  font-size: xx-large;
  font-weight: bold;
}

@media (max-width: 700px){
  .price-section{
    flex-direction: column;
    row-gap: 1rem;
  }

  .line-through{
    display: none;
  }

  .price-section div{
    width: 80vw;
  }

  .preffered-price{
    padding-bottom: 0;
  }

  .price-section div ul{
    text-align: center;
  }
}

.preffered-price{
  background-color: hsl(55, 100%, 98%);
}

.line-through{
  text-decoration: line-through;
  font-weight: lighter;
}

.form {
  max-width: 900px;
  margin: 0 auto;
}

.form label {
  color: black;
  font-weight: bold;
}

.form input,
.form textarea {
  width: 100%;
  margin-top: .25rem;
  margin-bottom: .75rem;
  outline: none;
  border: 1px solid #1B2522;
  border-radius: .3em;
  padding: .5em;
  color: inherit;
  font-family: inherit;
}

.form textarea {
  resize: vertical;
  min-height: 75px;
  max-height: 200px;
}

.form input:focus,
.form textarea:focus {
  border-color: #0AF;
  transition-duration: 500ms;
}

.btn-container {
  text-align: end;
}

.btn-square {
  border-radius: .3em;
}