*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
  margin: 0;
  background-color: rgb(73, 116, 201);
  color: white;
  padding: 1rem;
  text-align: center;
}

section{
  padding: 1rem 2rem;
}

section.skills{
  background-color: rgb(73, 116, 201);
  color: white;
}

img{
  width: 10rem;
  border-radius: 100%;
}

.btn{
  background-color: rgb(73, 116, 201);
  color: white;
  border: 1px solid blue;
  border-radius: 3px;
}

.btn:hover, .btn:focus{
  background-color: rgb(44, 82, 250);
  box-shadow: 0 0 .3rem 0 rgb(42, 80, 252);
  border-color: rgb(42, 80, 252);
}

footer{
  background-color: rgb(73, 116, 201);
  color: white;
  margin: 0;
  padding: .5rem;
  text-align: center;
}