body {
    background-color: bisque;
}

hr {
    border-style: dotted none none;
    background-color: bisque;
    border-width: 7px;
    width: 10%;
}

h1 {
    color: sandybrown;
}

h3 {
    color: sandybrown;
}